.navbar-inverse .navbar-brand {
    color:#ffffff;
}
.navbar-inverse .navbar-nav>li>a {
    color: #7c0000;
}
.navbar-inverse {
    background-color: #81daf5;
    border-color: #81daf5;
    background-image: linear-gradient(135deg, #1709e9, #ae80f1, #2685d2)
}
.thumbnail {
    color: #3a1aa3;
}

.checkbox-inline, .radio-inline {
    padding-left: 34px;
}
.btn{
    margin-right: 16px;
    float: right;
    
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;
    font-weight: 700;
}
.GT{
    margin-left: 16px;
}